name: CARRIAGE
on: [push]
jobs:
  rust-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo clippy --verbose -- -D clippy::all
      - run: cargo fmt -- --check

  rust-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - run: cargo build --verbose
      - run: cargo test --verbose
env:
  RUSTFLAGS: "-D warnings"
  CARGO_TERM_COLOR: always
